{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="dashboard.html" class="govuk-back-link">Back</a>

<div class="govuk-width-container">
  
    <div class="govuk-main-wrapper">

    <span class="govuk-caption-m">Excelsior Academy</span>
    <h3 class="govuk-heading-m govuk-!-margin-bottom-4">UKPRN: 10023975</h3>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">Funding types</h1>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h1 class="govuk-fieldset__heading">
                              Filter by type
                            </h1>
                          </legend>
                          <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="organisation-1" name="organisation" type="checkbox" value="hmrc">
                              <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                General annual grant
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                              <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                                PE and sport premium allocation
                              </label>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                      <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h1 class="govuk-fieldset__heading">
                                  Filter by school
                                </h1>
                              </legend>
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="hmrc">
                                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                    School a
                                  </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="employment-tribunal">
                                  <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                                    School b
                                  </label>
                                </div>
                              </div>
                            </fieldset>
                          </div>
                          <div class="govuk-form-group">
                              <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                  <h1 class="govuk-fieldset__heading">
                                    Filter by local authority (LA)
                                  </h1>
                                </legend>
                                <div class="govuk-checkboxes govuk-checkboxes--small">
                                  <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="organisation-5" name="organisation" type="checkbox" value="hmrc">
                                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                      Local authority A
                                    </label>
                                  </div>
                                  <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="organisation-6" name="organisation" type="checkbox" value="employment-tribunal">
                                    <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                                      Local authority B
                                    </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
  
            </div>

            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                    <div class="govuk-accordion__section ">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                            General annnual grant 2019 - 2020 <strong class="govuk-tag"> New </strong>
                          </span>
                        </h2>
                        <p class="govuk-body">Published: March 12th 2019</p> 
                      </div>
            
                      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                          <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Funding breakdown</h3>
                            <dl class="govuk-summary-list govuk-summary-list--no-border">
                                    <div class="govuk-summary-list__row">
                                      <dt class="govuk-summary-list__key">
                                        <a href="allocation-detail.html#schoolAllocation">School Allocation</a>
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        £8,183,791.66
                                      </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                      <dt class="govuk-summary-list__key">
                                        <a href="allocation-detail.html#highNeedsAllocation">High needs allocation</a>
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        £0.00
                                      </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                      <dt class="govuk-summary-list__key">
                                        <a href="allocation-detail.html#16-19Allocation">16 - 19 Allocation</a>
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        £1,070,560.00
                                      </dd>
                                    </div>
                                  </dl>
                                  <span class="govuk-caption-l">Total allocation</span>
                                  <h3 class="govuk-heading-m govuk-!-margin-bottom-9">£9,254,351.66</h3>
                                  <div class="download-document-image">
                                    <h3 class="govuk-header-m govuk-!-margin-bottom-2"><a href="/public/images/gag-statement.pdf" download="gag-allocation-19-20">Save or print the latest version of your statement</a></h2>
                                    <p>OpenDocument Spreadsheet (ODS), 206KB This file is in an <a href="https://www.gov.uk/guidance/using-open-document-formats-odf-in-your-organisation">OpenDocument</a> format. You may need a different format if you're using assistive technology.</p>
                                    <details class="govuk-details" data-module="govuk-details">
                                        <summary class="govuk-details__summary">
                                          <span class="govuk-details__summary-text">
                                            Request an accessible format.
                                          </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            <p class="govuk-body">If you use assistive technology (such as a screen reader) and need a version of this document in a more accessible format, please email <a href="mailto:ESFA.GOVUK-ENQUIRIES@education.gov.uk."> ESFA.GOVUK-ENQUIRIES@education.gov.uk.</a> Please tell us what format you need. It will help us if you say what assistive technology you use.</p>
                                        </div>
                                      </details>
                                  </div>
                                    <h3 class="govuk-heading-m">Allocation History</h3>
                                    <p>You can view all versions of this <a class="modal-link-hotfix" href="#open-modal">allocation</a> for the financial year 2019 to 2020 and previous years on the <a class="govuk-link" href="">allocation history</a></p>
                                  <div id="open-modal" class="modal-window">
                                    <div>
                                      <h3 class="govuk-heading-m">Allocation</h3>
                                      <p class="govuk-body">	An amount of Education and Skills Funding Agency (ESFA) funding for a learning provider calculated by using a funding formula. Allocations can change throughout the year if pupil numbers change.</p>
                                      <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                                          Close </a>
                                    </div>                                   
                      </div>
                      </div>
                      </div>
            </div>
        </div>

    </main>
  </div>

{% endblock %}