{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <a href="funding-statements.html" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <span class="govuk-caption-m">Excelsior Academy</span>
          <h4 class="govuk-heading-s govuk-!-margin-bottom-6">UKPRN: 10023975</h4>
          <span class="govuk-caption-xl">2019 - 2020</span>
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">General annual grant</h1>

              <table class="govuk-table govuk-!-margin-bottom-9">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-6">School allocation</h3>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Funding lines</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="funding-lines.html" class="govuk-link">School budget share (excl. rates)</a></p>
                    <a href="#" class="govuk-link govuk-!-padding-left-9">of which, notional SEN funding</a> 
                </th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£7,435,250.87 <br> <br> £1,411,872.30</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header"><a href="minimum-funding-gurantee.html" class="govuk-link">Minimum funding guarantee</a></th>
                      <td class="govuk-table__cell govuk-table__cell--numeric">£229,393.87</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header"><a href="esg.html" class="govuk-link">ESG protection</a></th>
                      <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                    </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header"><a href="post-opening-grant.html" class="govuk-link">Post-opening grant (start-up grant)</a></th>
                      <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Total school allocation</th>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£8,183,791.66</strong></td>
                  </tr>
                </tbody>
              </table>

              <table class="govuk-table govuk-!-margin-bottom-9">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-6">High needs allocation</h3>
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Funding lines</th>
                      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header"><a href="pre-16.html" class="govuk-link">Pre-16 high needs place funding</a></th>
                          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header"><a href="post-16.html" class="govuk-link">Post-16 high needs place funding</a></th>
                          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header ">Total high needs allocation</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£0.00</strong></td>
                        </tr>                     
                  </tbody>
                </table>

                <table class="govuk-table govuk-!-margin-bottom-9">
                    <h3 class="govuk-heading-m govuk-!-margin-bottom-6">16 - 19 Allocation</h3>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Funding lines</th>
                      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header"><a href="allocation-detail-v2.html" class="govuk-link">Programme funding - formula</a></th>
                      <td class="govuk-table__cell govuk-table__cell--numeric">£1,032,313.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-margin-bottom-9"><a href="#" class="govuk-link">Formula protection funding</a></th>
                      <td class="govuk-table__cell govuk-table__cell--numeric">£12,618.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header govuk-!-margin-bottom-9"><a href="#" class="govuk-link">Student financial support funding</a></th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£25,628.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header "><a href="#" class="govuk-link">Industry placements: capacity and delivery funding (CDF)</a></th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                      </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header "><a href="#" class="govuk-link">Advanced maths premium funding</a></th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header ">Total 16-19 allocation including student financial support funding</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1,070,560.00</strong></td>
                    </tr>
                  </tbody>
                </table>
                
              <span class="govuk-caption-l">Total allocation</span>
              <h2 class="govuk-heading-l govuk-!-margin-bottom-9">£9,254,351.66</h2>

              <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      How is this calculated
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    School allocation + High needs allocation + 16 to 19 allocation
                  </div>
                </details>

            </div>
          </div>

          </div>
        </div>
  
      </div>
    </div>

  </main>
</div>

{% endblock %}