{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style>
  .table-highlight {
    background-color: #eee;
  }
</style>

<div class="govuk-width-container">
        <a href="allocation-detail.html" class="govuk-back-link">Back</a>


  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-full"> 
          <span class="govuk-caption-m">Excelsior Academy</span>
          <h4 class="govuk-heading-s govuk-!-margin-bottom-6">UKPRN: 10023975</h4>
          <span class="govuk-caption-xl">2019 - 2020</span>
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Pre-16 high needs place funding</h1>
      </div>
    </div>

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">1. <br>Reception uplift</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">2. <br>Primary</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">3. <br>Secondary</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">4. <br>Post-16</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">5. <br>Total</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
            </tr>
          </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-table__cell--numeric">SBS</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">194</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">1,134</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">1328</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">= 1 + 2 + 3</td>
          </tr>
          <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-table__cell--numeric">MFG</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">194</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">1,134</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">1328</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">= 2 + 3</td>
          </tr>
          <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-table__cell--numeric">ESG</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">194</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">1,134</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">215</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">15543</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">= 1 + 2 + 3 + 4</td>
          </tr>
        </tbody>
      </table>
   
              <ul class="govuk-list">
                <li>
                  <a class="govuk-link" href="#">Save or print this statement</a>
                </li>
                <li>
                  <a class="govuk-link" href="#">Contact ESFA </a>
                </li>
                <li>
              </ul>

          </div> 
      </div>
    </div>

  </main>
</div>

{% endblock %}