
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="index.html" class="govuk-back-link govuk-!-margin-bottom-9">Back</a>

<span class="govuk-caption-xl">Component</span>
<h1 class="govuk-heading-xl">Calculations pattern</h1>

<h3 class="govuk-heading-m">Pattern 1</h3>
<p> Pattern 1 is in reference to rate x weighting x pupil number = funding</p>

<dl class="govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Calculations: name
    </dt>
    <dd class="govuk-summary-list__value">
      Calculations: value
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Calculations: name
    </dt>
    <dd class="govuk-summary-list__value">
      Calculations: value    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Calculations: name
    </dt>
    <dd class="govuk-summary-list__value">
      Calculations: value    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Calculations: name
    </dt>
    <dd class="govuk-summary-list__value">
      Calculations: value 
    </dd>
  </div>
</dl>

<h3 class="govuk-heading-m">Pattern 2</h3>
<p> Pattern 2 is in reference to rate x weighting = funding</p>

<dl class="govuk-summary-list govuk-summary-list--no-border">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Calculations: name
      </dt>
      <dd class="govuk-summary-list__value">
        Calculations: value 
        </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Calculations: name
      </dt>
      <dd class="govuk-summary-list__value">
        Calculations: value 
      </dd>
    </div>
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Calculations: name
      </dt>
      <dd class="govuk-summary-list__value">
        Calculations: value 
      </dd>
    </div>
  </dl>

<h3 class="govuk-heading-m">Pattern 3</h3>
<p> Pattern 3 is in reference to percentage value x funding = value of % in £ (SEN example)</p>

<dl class="govuk-summary-list govuk-summary-list--no-border">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Calculations: name
      </dt>
      <dd class="govuk-summary-list__value">
        Calculations: value 
      </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Calculations: name
      </dt>
      <dd class="govuk-summary-list__value">
        Calculations: value 
      </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Calculations: name
      </dt>
      <dd class="govuk-summary-list__value">
        Calculations: value 
      </dd>
    </div>

    <div class="govuk-summary-list__row ">
        <dt class="govuk-summary-list__key">
          Calculations: name
        </dt>
        <dd class="govuk-summary-list__value">
          Calculations: value
        </dd>
      </div>

    <div class="govuk-summary-list__row ">
      <dt class="govuk-summary-list__key">
        Total
      </dt>
      <dd class="govuk-summary-list__value">
        <b>Calculations: value</b>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         <i>Calculations: name</i>
        </dt>
        <dd class="govuk-summary-list__value">
        <i>Calculations: value</i>
        </dd>
      </div>

  </dl>

{% endblock %}