
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="index.html" class="govuk-back-link govuk-!-margin-bottom-9">Back</a>

<span class="govuk-caption-xl">Component</span>
<h1 class="govuk-heading-xl">Funding not qualified for</h1>

<!-- Funding not qualified for START-->
<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Funding not qualified for
      </span>
    </summary>
    <div class="govuk-details__text">
      <h4 class="govuk-heading-s govuk-!-margin-bottom-2">fundingLines: name (if funding line value is equal to 0)</h4>
      <h4 class="govuk-heading-s govuk-!-margin-bottom-2">fundingLines: name</h4>
      <h4 class="govuk-heading-s govuk-!-margin-bottom-2">fundingLines: name</h4>
      <h4 class="govuk-heading-s govuk-!-margin-bottom-2">fundingLines: name</h4>
      <h4 class="govuk-heading-s govuk-!-margin-bottom-2">fundingLines: name</h4>
      <h4 class="govuk-heading-s govuk-!-margin-bottom-2">fundingLines: name</h4>
    </div>
  </details>
  <!-- Funding not qualified for END-->


{% endblock %}