
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
        <a href="../index.html" class="govuk-back-link govuk-!-margin-bottom-9">Back</a>
        <h1 class="govuk-heading-xl">Components</h1>
      
        <main class="govuk-main-wrapper">
           
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <h3 class="govuk-heading-m">Navigation</h3>
                    <ul class="govuk-list">
                            <li>
                              <a class="govuk-link" href="funding-not-qualified-for.html">Funding not qualified for</a>
                            </li>
                            <li>
                              <a class="govuk-link" href="funding-line-component.html">Funding line accordion</a>
                            </li>
                            <li>
                              <a class="govuk-link" href="calculation-patterns.html">Calculation patterns</a>
                            </li>
                            <li>
                              <a class="govuk-link" href="mathematical-components.html">Mathematical patterns</a>
                            </li>
                            <li>
                              <a class="govuk-link" href="filter.html">Filters</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="allocation-statement.html">Allocation statement</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="allocation-overview.html">Allocation overview</a>
                            </li>
                          </ul>
                </div> 

                    <div class="govuk-grid-column-two-thirds">
                      <h2 class="govuk-heading-l">Pattern library</h2>
                      <p class="govuk-body-l">Design pattern library for GAG alpha. </p>
                      <p class="govuk-body">Latest version is v1.0</p>
                    </div>
                </div>
          </div>
      
        </main>
      </div>

{% endblock %}