
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="index.html" class="govuk-back-link govuk-!-margin-bottom-9">Back</a>

<span class="govuk-caption-xl">Component</span>
<h1 class="govuk-heading-xl">Mathematical display</h1>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      How is this calculated
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>calculations: formula text</p>
  </div>
</details>



{% endblock %}