{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style>
  .table-highlight {
    background-color: #eee;
  }
</style>

<div class="govuk-width-container">
        <a href="allocation-detail.html" class="govuk-back-link">Back</a>


  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-full"> 
          <span class="govuk-caption-m">Excelsior Academy</span>
          <h4 class="govuk-heading-s govuk-!-margin-bottom-6">UKPRN: 10023975</h4>
          <span class="govuk-caption-xl">2019 - 2020</span>
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Academic year 2019 to 2020 ESG protection</h1>
      </div>
    </div>

                    <table class="govuk-table">
                        <h3 class="govuk-heading-m">Calculation of baseline for academic year 2018 to 2019</h3>
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row table-highlight">
                            <th scope="row" class="govuk-table__header ">Pupil Numbers</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                          </tr>
                          <tr class="govuk-table__row ">
                            <th scope="row" class="govuk-table__header">1. Academic year 2018 to 2019 pupil count: reception to post-16 including high needs places</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">1481</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">2. Academic year 2019 to 2020 pupil count: reception to post-16 including high needs places</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">1543</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                          </tr>
                        </tbody>
                      </table>


                          <table class="govuk-table">
                              <h3 class="govuk-heading-m">Academic year 2019 to 2020 ESG protection</h3>
                              <tbody class="govuk-table__body">
                                <tr class="govuk-table__row table-highlight">
                                    <th scope="row" class="govuk-table__header ">Academic year 2018 to 2019 total allocation unit values</th>
                                    <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                                  </tr>
                                  <tr class="govuk-table__row ">
                                    <th scope="row" class="govuk-table__header">3. Academic year 2018 to 2019 school budget share</th>
                                    <td class="govuk-table__cell govuk-table__cell--numeric">£7,587,282.06</td>
                                  </tr>
                                  <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">4. Academic year 2018 to 2019 minimum funding guarantee/affordability adjustment</th>
                                    <td class="govuk-table__cell govuk-table__cell--numeric">£211,524.81</td>
                                  </tr>
                                  <tr class="govuk-table__row ">
                                      <th scope="row" class="govuk-table__header">5. Academic year 2018 to 2019 ESG protection</th>
                                      <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                                  </tr>
                                  <tr class="govuk-table__row">
                                      <th scope="row" class="govuk-table__header">6. Academic year 2018 to 2019 post-16 allocation (total funding excl. studentfinancial support services and industry placements: capacity and delivery funding)</th>
                                      <td class="govuk-table__cell govuk-table__cell--numeric">£1,039,957.00</td>
                                  </tr>
                                  <tr class="govuk-table__row ">
                                      <th scope="row" class="govuk-table__header">7. Academic year 2018 to 2019 total allocation adjusted unit value</th>
                                      <td class="govuk-table__cell govuk-table__cell--numeric">£5,968.11</td>
                                      <td class="govuk-table__cell govuk-table__cell--numeric"> </td>
                                  </tr>                                                   
                                </tbody>
                            </table>
   
            <!-- Funding not qualified for START-->
           <!--  <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Funding not qualified for
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Looked after children (LAC)</h4>
                  <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Sparsity</h4>
                  <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Split sites</h4>
                  <h4 class="govuk-heading-s govuk-!-margin-bottom-2">PFI</h4>
                  <h4 class="govuk-heading-s govuk-!-margin-bottom-2">London fringe</h4>
                  <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Split sites</h4>
                </div>
              </details>     -->         
              <!-- Funding not qualified for END-->

              <ul class="govuk-list">
                <li>
                  <a class="govuk-link" href="#">Save or print this statement</a>
                </li>
                <li>
                  <a class="govuk-link" href="#">Contact ESFA </a>
                </li>
                <li>
              </ul>

          </div> 
      </div>
    </div>

  </main>
</div>

{% endblock %}