{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
        <a href="index.html" class="govuk-back-link">Back</a>


  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full"> 
          <span class="govuk-caption-m">Excelsior Academy</span>
          <h4 class="govuk-heading-s govuk-!-margin-bottom-6">UKPRN: 10023975</h4>
          <span class="govuk-caption-xl">2019 - 2020</span>
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">School budget share (excl. rates)</h1>
      </div>
    </div>

          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                      Basic entitlement age weighted pupil unit (AWPU)
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                  <dl class="govuk-summary-list govuk-summary-list--no-border">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                      <a class="govuk-link" href="fundingLines/awpu/awpu-primary.html">Primary (including reception)</a>
                          </dt>
                          <dd class="govuk-summary-list__value">
                            £539,970.46
                          </dd>
                        </div>
                      
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            <a class="govuk-link" href="fundingLines/awpu/awpu-keystage-3.html">Key stage 3</a>
                          </dt>
                          <dd class="govuk-summary-list__value">
                            £1,539,970.46
                          </dd>
                        </div>
                      
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                              <a class="govuk-link" href="fundingLines/awpu/awpu-keystage-4.html">Key stage 4</a>
                          </dt>
                          <dd class="govuk-summary-list__value">
                            £939,970.46
                          </dd>
                        </div>
                      </dl>
                      <span class="govuk-caption-m">Total</span>
                      <h3 class="govuk-heading-m govuk-!-margin-bottom-4 ">£3,019,911.38</h3>      
                </div>
            </div>

                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                            Deprivation
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                        <dl class="govuk-summary-list govuk-summary-list--no-border">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                <a class="govuk-link" href="fundingLines/deprivation/primary-idaci-f.html">Primary IDACI band F</a>
                              </dt>
                              <dd class="govuk-summary-list__value">
                                £2,966.79
                              </dd>
                            </div>
                          
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                <a class="govuk-link" href="fundingLines/deprivation/primary-idaci-e.html">Primary IDACI band E</a>
                              </dt>
                              <dd class="govuk-summary-list__value">
                                £1,525.80
                              </dd>
                            </div>
                          
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                  <a class="govuk-link" href="fundingLines/deprivation/primary-idaci-d.html">Primary IDACI band D</a>
                              </dt>
                              <dd class="govuk-summary-list__value">
                                £7,247.44                            
                              </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    <a class="govuk-link" href="fundingLines/deprivation/primary-idaci-c.html">Primary IDACI band C</a>
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  £6,198.50
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                      <a class="govuk-link" href="fundingLines/deprivation/primary-idaci-b.html">Primary IDACI band B</a>
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    £20,915.93
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        <a class="govuk-link" href="fundingLines/deprivation/primary-idaci-a.html">Primary IDACI band A</a>
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      £40,819.99
                                    </dd>
                                  </div>
                                  <div class="govuk-summary-list__row">
                                      <dt class="govuk-summary-list__key">
                                        <a class="govuk-link" href="fundingLines/deprivation/secondary-idaci-f.html">Secondary IDACI band F</a>
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        £30,056.05
                                      </dd>
                                    </div>
                                  
                                    <div class="govuk-summary-list__row">
                                      <dt class="govuk-summary-list__key">
                                        <a class="govuk-link" href="fundingLines/deprivation/secondary-idaci-e.html">Secondary IDACI band E</a>
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        £42,869.57
                                      </dd>
                                    </div>
                                  
                                    <div class="govuk-summary-list__row">
                                      <dt class="govuk-summary-list__key">
                                          <a class="govuk-link" href="fundingLines/deprivation/secondary-idaci-d.html">Secondary IDACI band D</a>
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        £94,889.07                            
                                      </dd>
                                    </div>
        
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            <a class="govuk-link" href="fundingLines/deprivation/secondary-idaci-c.html">Secondary IDACI band C</a>
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                          £33,416.09
                                        </dd>
                                      </div>
                                      <div class="govuk-summary-list__row">
                                          <dt class="govuk-summary-list__key">
                                              <a class="govuk-link" href="fundingLines/deprivation/secondary-idaci-b.html">Secondary IDACI band B</a>
                                          </dt>
                                          <dd class="govuk-summary-list__value">
                                            £292,707.36
                                          </dd>
                                        </div>
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                                <a class="govuk-link" href="fundingLines/deprivation/secondary-idaci-a.html">Secondary IDACI band A</a>
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                              £117,868.35
                                            </dd>
                                          </div>
                                          <div class="govuk-summary-list__row">
                                              <dt class="govuk-summary-list__key">
                                                  <a class="govuk-link" href="fundingLines/deprivation/primary-fsm.html">Primary free school meals (FSM)</a>
                                              </dt>
                                              <dd class="govuk-summary-list__value">
                                                £33,966.15
                                              </dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    <a class="govuk-link" href="fundingLines/deprivation/secondary-fsm-6.html">Primary FSM6</a>
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                  £49,066.46
                                                </dd>
                                              </div>
                                              <div class="govuk-summary-list__row">
                                                  <dt class="govuk-summary-list__key">
                                                      <a class="govuk-link" href="fundingLines/deprivation/secondary-fsm.html">Secondary FSM</a>
                                                  </dt>
                                                  <dd class="govuk-summary-list__value">
                                                    £221,765.85
                                                  </dd>
                                                </div>
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">
                                                        <a class="govuk-link" href="fundingLines/deprivation/secondary-fsm-6.html">Secondary FSM6</a>
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                      £540,372.61
                                                    </dd>
                                                  </div>
                          </dl>
                          <span class="govuk-caption-m">Total</span>
                          <h3 class="govuk-heading-m govuk-!-margin-bottom-4 ">£3,019,911.38</h3>      
                    </div>
                  </div>
                  <div class="govuk-accordion__section ">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                              Prior attainment
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                
                          <dl class="govuk-summary-list govuk-summary-list--no-border">
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  <a class="govuk-link" href="fundingLines/prior-attainment/primary-attainment.html">Primary attainment: low primary prior attainment	</a>
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  £44,632.66
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    <a class="govuk-link" href="fundingLines/prior-attainment/secondary-attainment.html">Secondary attainment: low primary prior attainment	</a>
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    £674,160.56
                                  </dd>
                                </div>
                            </dl>

                                <span class="govuk-caption-m">Total</span>
                                <h3 class="govuk-heading-m govuk-!-margin-bottom-4 ">£44,632.66</h3>      


                      </div>
                    </div>

                    <div class="govuk-accordion__section ">
                        <div class="govuk-accordion__section-header">
                          <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                English as an additional language (EAK)
                            </span>
                          </h2>
                        </div>
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                  
                            <dl class="govuk-summary-list govuk-summary-list--no-border">
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    <a class="govuk-link" href="">Primary EAL band 1</a>
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    £0.00
                                  </dd>
                                </div>
                                  <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                      <a class="govuk-link" href="">Primary EAL band 2</a>
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      £0.00
                                    </dd>
                                  </div>
                                    <div class="govuk-summary-list__row">
                                      <dt class="govuk-summary-list__key">
                                        <a class="govuk-link" href="fundingLines/EAL/eal-primary-band3.html">Primary EAL band 3</a>
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        £14,986.50
                                      </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                          <a class="govuk-link" href="">Secondary EAL band 1</a>
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                          £0.00
                                        </dd>
                                      </div>
                                        <div class="govuk-summary-list__row">
                                          <dt class="govuk-summary-list__key">
                                            <a class="govuk-link" href="">Secondary EAL band 2</a>
                                          </dt>
                                          <dd class="govuk-summary-list__value">
                                            £0.00
                                          </dd>
                                        </div>
                                          <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                              <a class="govuk-link" href="fundingLines/EAL/eal-secondary-band3.html">Secondary EAL band 3</a>
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                              £278,877.10
                                            </dd>
                                          </div>
                                  </dl>
                  
                              <span class="govuk-caption-m">Total</span>
                              <h3 class="govuk-heading-m govuk-!-margin-bottom-4 ">£44,632.66</h3>               
                        </div>
                      </div> 
                      <div class="govuk-accordion__section ">
                          <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                  Mobility (over 10% applicable only)
                              </span>
                            </h2>
                          </div>
                          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    
                              <dl class="govuk-summary-list govuk-summary-list--no-border">
                                  <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                      <a class="govuk-link" href="fundingLines/mobility/primary.html">Primary pupils</a>
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      £9,600.09
                                    </dd>
                                  </div>
                                    <div class="govuk-summary-list__row">
                                      <dt class="govuk-summary-list__key">
                                        <a class="govuk-link" href="fundingLines/mobility/secondary.html">Secondary pupils</a>
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        £74,269.06
                                      </dd>
                                    </div>
                                    </dl>                  
                                <span class="govuk-caption-m">Total</span>
                                <h3 class="govuk-heading-m govuk-!-margin-bottom-4 ">£83,869.15</h3>               
                          </div>
                        </div>   
              </div>
            </div>

                  <span class="govuk-caption-l">Total pupil-led factors</span>
                  <h2 class="govuk-heading-l govuk-!-margin-bottom-9">£7,844,397.79</h2>
                  <!-- Insert total pupil led factors amount here-->

                  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                      <div class="govuk-accordion__section ">
                        <div class="govuk-accordion__section-header">
                          <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                Lump sum
                            </span>
                          </h2>
                        </div>
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                  
                            <dl class="govuk-summary-list govuk-summary-list--no-border">
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    <a class="govuk-link" href="">Primary lump sum</a>
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    £0.00
                                  </dd>
                                </div>
                              
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    <a class="govuk-link" href="fundingLines/lumpSum/secondary.html">Secondary lump sum	</a>
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    £110,000.00
                                  </dd>
                                </div>
                            
                              </dl>
                  
                              <span class="govuk-caption-m">Total</span>
                              <h3 class="govuk-heading-m govuk-!-margin-bottom-4 ">£110,000.00</h3>
                  
                        </div>
                      </div>
                    </div>

                  <span class="govuk-caption-l">Total other factors</span>
                  <h2 class="govuk-heading-l govuk-!-margin-bottom-9">£110,000</h2>
                  <!-- Insert total other factors amount here-->

                  <span class="govuk-caption-l">Total school budget share (excluding NNDR)</span>
                  <h2 class="govuk-heading-l ">£7,954,397.79</h2>
                  <span class="govuk-caption-l">of which, notional SEN Budget</span>
                  <span class="govuk-caption-l govuk-!-margin-bottom-9">£1,411,872.30</span>


            <!-- Funding not qualified for START-->
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Funding not qualified for
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Looked after children (LAC)</h4>
                  <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Sparsity</h4>
                  <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Split sites</h4>
                  <h4 class="govuk-heading-s govuk-!-margin-bottom-2">PFI</h4>
                  <h4 class="govuk-heading-s govuk-!-margin-bottom-2">London fringe</h4>
                  <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Split sites</h4>
                </div>
              </details>              <!-- Funding not qualified for END-->

              <ul class="govuk-list">
                <li>
                  <a class="govuk-link" href="#">Save or print this statement</a>
                </li>
                <li>
                  <a class="govuk-link" href="#">Contact ESFA </a>
                </li>
                <li>
              </ul>

          </div> 
      </div>
    </div>

  </main>
</div>

{% endblock %}