{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
        <a href="allocation-summary-v2.html" class="govuk-back-link">Back</a>


  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

          <span class="govuk-caption-m">Excelsior Academy</span>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-9">UKPRN: 10023975</h3>
          
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading govuk-!-margin-bottom-4">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Basic entitlement age weighted pupil unit (AWPU)

                  </span>
                </h2>
                <p class="govuk-body">Published 12 April 2019</p>            
              </div>
  
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
  
                  <table class="govuk-table govuk-!-margin-bottom-9">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Description</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Rate</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Weighting</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Pupils</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Sub-total</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">SEN %</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Primary (including reception)</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£2,783.35</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">1.000000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">194</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£539,970.46</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">4.00</td>
                      </tr>
                      <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Key Stage 2</th>
                          <td class="govuk-table__cell govuk-table__cell--numeric">£2,783.35</td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">1.000000</td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">800</td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">£1,539,970.46</td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">2.00</td>
                        </tr>
                      <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Key stage 4</th>
                          <td class="govuk-table__cell govuk-table__cell--numeric">£4,783.35</td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">1.000000</td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">695</td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">£939,970.46</td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">8.00</td>
                      </tr>
      
                    </tbody>
                  </table>
                  
                <span class="govuk-caption-l">Total allocation</span>
                <h2 class="govuk-heading-l govuk-!-margin-bottom-9">£5,254,351.66</h2>
  
              </div>
            </div>

            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading govuk-!-margin-bottom-4">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                    Deprivation
                  </span>
                </h2>
                <p class="govuk-body">Published 12 April 2019</p>         
              </div>
              <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                <table class="govuk-table govuk-!-margin-bottom-9">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Description</th>
                      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Rate</th>
                      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Weighting</th>
                      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Pupils</th>
                      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Sub-total</th>
                      <th scope="col" class="govuk-table__header govuk-table__header--numeric">SEN %</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Primary IDACI band F</th>
                      <td class="govuk-table__cell govuk-table__cell--numeric">£2,783.35</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">1.000000</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">194</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">£539,970.46</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">4.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Primary IDACI band E</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£2,783.35</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">1.000000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">800</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£1,539,970.46</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">2.00</td>
                      </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Primary IDACI band D</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£4,783.35</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">1.000000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">695</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£939,970.46</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">8.00</td>
                    </tr>
    
                  </tbody>
                </table>

                <span class="govuk-caption-l">Total allocation</span>
                <h2 class="govuk-heading-l govuk-!-margin-bottom-9">£2,654,351.66</h2>

              </div>
            </div>

            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading govuk-!-margin-bottom-4">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                    Looked after children (LAC)
                  </span>
                </h2>
                <p class="govuk-body">Published 12 April 2019 <strong class="govuk-tag">
                    updated
                  </strong> </p>         
              </div>
              <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                <table class="govuk-table govuk-!-margin-bottom-9">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Description</th>
                      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Rate</th>
                      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Weighting</th>
                      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Pupils</th>
                      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Sub-total</th>
                      <th scope="col" class="govuk-table__header govuk-table__header--numeric">SEN %</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Primary (including reception)</th>
                      <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">0.008455</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">1328</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                    </tr>
                  </tbody>
                </table>

                <span class="govuk-caption-l">Total allocation</span>
                <h2 class="govuk-heading-l govuk-!-margin-bottom-9">£0.00</h2>

              </div>
            </div>

          </div> 
      </div>
    </div>

  </main>
</div>

{% endblock %}