{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">St Mary's Kilburn Church of England Primary School</h1>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading govuk-!-margin-bottom-4">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  General annual grant 2019 - 2020
                </span>
              </h2>
              <p class="govuk-body">Published 12 April 2019</p>            
            </div>

            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <table class="govuk-table govuk-!-margin-bottom-9">
                <caption class="govuk-table__caption govuk-!-margin-bottom-4">Breakdown of academic year 2019 to 2020 school allocation</caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Description</th>
                    <th scope="col" class="govuk-table__header">Total</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="allocation-detail-v2.html" class="govuk-link">School budget share (excl. rates)</a> <strong class="govuk-tag">
                      updated
                    </strong> </p> </th>
                    <td class="govuk-table__cell">£7,954,397.79</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-margin-bottom-9"><a href="#" class="govuk-link">of which, notional SEN funding</a></th>
                    <td class="govuk-table__cell">£1,411,872.30</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-margin-bottom-9"><a href="#" class="govuk-link">Minimum funding guarantee</a></th>
                      <td class="govuk-table__cell">£229,393.87</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header "><a href="#" class="govuk-link">ESG protection</a></th>
                      <td class="govuk-table__cell">£0.00</td>
                    </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header "><a href="#" class="govuk-link">Post-opening grant (start-up grant)</a></th>
                      <td class="govuk-table__cell">£0.00</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header ">Total school allocation</th>
                      <td class="govuk-table__cell">£8,183,791.66</td>
                  </tr>
                </tbody>
              </table>

              <table class="govuk-table govuk-!-margin-bottom-9">
                  <caption class="govuk-table__caption govuk-!-margin-bottom-4">Breakdown of academic year 2019 to 2020 high needs allocation</caption>
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Description</th>
                      <th scope="col" class="govuk-table__header">Total</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">Pre-16 high needs place funding</a></th>
                          <td class="govuk-table__cell">£0.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header govuk-!-margin-bottom-9"><a href="#" class="govuk-link">Post-16 high needs place funding</a></th>
                          <td class="govuk-table__cell">£0.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header ">Total high needs allocation</th>
                            <td class="govuk-table__cell">£0.00</td>
                        </tr>
                        
                  </tbody>
                </table>

                <table class="govuk-table govuk-!-margin-bottom-9">
                  <caption class="govuk-table__caption govuk-!-margin-bottom-4">Breakdown of 16-19 allocation</caption>
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Description</th>
                      <th scope="col" class="govuk-table__header">Total</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header"><a href="allocation-detail-v2.html" class="govuk-link">Programme funding - formula</a></th>
                      <td class="govuk-table__cell">£1,032,313.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-margin-bottom-9"><a href="#" class="govuk-link">Formula protection funding</a></th>
                      <td class="govuk-table__cell">£12,618.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header govuk-!-margin-bottom-9"><a href="#" class="govuk-link">Student financial support funding</a></th>
                        <td class="govuk-table__cell">£25,628.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header "><a href="#" class="govuk-link">Industry placements: capacity and delivery funding (CDF)</a></th>
                        <td class="govuk-table__cell">£0.00</td>
                      </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header "><a href="#" class="govuk-link">Advanced maths premium funding</a></th>
                        <td class="govuk-table__cell">£0.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header ">Total 16-19 allocation including student financial support funding</th>
                        <td class="govuk-table__cell">£1,070,560.00</td>
                    </tr>
                  </tbody>
                </table>
                
              <span class="govuk-caption-l">Total allocation</span>
              <h2 class="govuk-heading-l govuk-!-margin-bottom-9">£9,254,351.66</h2>

            </div>
          </div>

          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading govuk-!-margin-bottom-4">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  PE and sport premium allocation for academic year 2019 to 2020
                </span>
              </h2>
              <p class="govuk-body">Published 12 April 2019 <strong class="govuk-tag">
                  updated
                </strong> </p>         
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
              <h4 class='govuk-heading-s'>Funding</h4>
            </div>
          </div>

          </div>
        </div>
  
      </div>
    </div>

  </main>
</div>

{% endblock %}