{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="service-overview.html" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Sign in</h1>
        <fieldset class="govuk-fieldset">
        
          <div class="govuk-form-group">
            <label class="govuk-label" for="user-id">
              User ID or email address
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="user-id" name="user-id" type="text">
          </div>
        
          <div class="govuk-form-group">
            <label class="govuk-label" for="user-password">
              Password
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="user-password" name="" type="text">
          </div>
          <button onclick="window.location.href='allocation-summary-v2.html'" type="submit" class="govuk-button" data-module="govuk-button">
              Sign in
          </button>
        </fieldset>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m">Problems signing in?</h3>
              <ul class="govuk-list">
                <li>
                  <a href="#" class="govuk-link">I forgot my password</a>
                </li>
                <li>
                  <a href="#" class="govuk-link">I don't have an account</a>
                </li>
              </ul>
          </div>
        </div>
        
      </div>
    </div>

  </main>
</div>

{% endblock %}