
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="index.html" class="govuk-back-link govuk-!-margin-bottom-9">Back</a>

<span class="govuk-caption-xl">Component</span>
<h1 class="govuk-heading-xl">Allocation statement</h1>

    <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="" class="govuk-link">General annnual grant 2019 - 2020</a> <strong class="govuk-tag">
                  New
                </strong> </p> 
                <p class="govuk-!-padding-bottom-6">Published April 12th 2019</p></th>
                <td class="govuk-table__cell">£7,954,397.79</td>
              </tr>
              <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="" class="govuk-link">PE and sport premium allocation 2019 to 2020</a></p> 
                    <p class="govuk-!-padding-bottom-6">Published April 12th 2019</p></th>
                    <td class="govuk-table__cell">£7,954,397.79</td>
                </tr>
                <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header"><a href="" class="govuk-link">General annual grant 2018 - 2019</a> </p> 
                        <p class="govuk-!-padding-bottom-6">Published March 25th 2018</p></th>
                        <td class="govuk-table__cell">£7,954,397.79</td>
                      </tr>
            </tbody>
          </table>

  <!-- Code block -->
  <h3 class="govuk-heading-m">Code block</h3>
<pre>
    &lt;table class=&quot;govuk-table&quot;&gt;
    &lt;tbody class=&quot;govuk-table__body&quot;&gt;
      &lt;tr class=&quot;govuk-table__row&quot;&gt;
        &lt;th scope=&quot;row&quot; class=&quot;govuk-table__header&quot;&gt;&lt;a href=&quot;&quot; class=&quot;govuk-link&quot;&gt;General annnual grant 2019 - 2020&lt;/a&gt; &lt;strong class=&quot;govuk-tag&quot;&gt;
          New
        &lt;/strong&gt; &lt;/p&gt; 
        &lt;p class=&quot;govuk-!-padding-bottom-6&quot;&gt;Published April 12th 2019&lt;/p&gt;&lt;/th&gt;
        &lt;td class=&quot;govuk-table__cell&quot;&gt;£7,954,397.79&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr class=&quot;govuk-table__row&quot;&gt;
            &lt;th scope=&quot;row&quot; class=&quot;govuk-table__header&quot;&gt;&lt;a href=&quot;&quot; class=&quot;govuk-link&quot;&gt;PE and sport premium allocation 2019 to 2020&lt;/a&gt;&lt;/p&gt; 
            &lt;p class=&quot;govuk-!-padding-bottom-6&quot;&gt;Published April 12th 2019&lt;/p&gt;&lt;/th&gt;
            &lt;td class=&quot;govuk-table__cell&quot;&gt;£7,954,397.79&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;govuk-table__row&quot;&gt;
                &lt;th scope=&quot;row&quot; class=&quot;govuk-table__header&quot;&gt;&lt;a href=&quot;&quot; class=&quot;govuk-link&quot;&gt;General annual grant 2018 - 2019&lt;/a&gt; &lt;/p&gt; 
                &lt;p class=&quot;govuk-!-padding-bottom-6&quot;&gt;Published March 25th 2018&lt;/p&gt;&lt;/th&gt;
                &lt;td class=&quot;govuk-table__cell&quot;&gt;£7,954,397.79&lt;/td&gt;
              &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
</pre>
  <!-- End Code Block -->

  <h2 class="govuk-heading-m govuk-!-margin-top-9 govuk-!-margin-bottom-9">When to use this component</h2>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-9">When not to use this component</h2>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-9">Research on this component</h2>


{% endblock %}