
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="index.html" class="govuk-back-link govuk-!-margin-bottom-9">Back</a>

<span class="govuk-caption-xl">Component</span>
<h1 class="govuk-heading-xl">Allocation overview</h1>

<table class="govuk-table govuk-!-margin-bottom-9">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-6">School allocation</h3>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Funding lines</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="" class="govuk-link">School budget share (excl. rates)</a></p>
        <a href="#" class="govuk-link govuk-!-padding-left-9">of which, notional SEN funding</a> 
    </th>
        <td class="govuk-table__cell govuk-table__cell--numeric">£7,435,250.87 <br> <br> £1,411,872.30</td>
      </tr>
      <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">Minimum funding guarantee</a></th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£229,393.87</td>
      </tr>
      <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">ESG protection</a></th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
        </tr>
      <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">Post-opening grant (start-up grant)</a></th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
      </tr>
      <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Total school allocation</th>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£8,183,791.66</strong></td>
      </tr>
    </tbody>
  </table>

  <!-- Code block -->
  <h3 class="govuk-heading-m">Code block</h3>

<pre>
    &lt;table class=&quot;govuk-table govuk-!-margin-bottom-9&quot;&gt;
    &lt;h3 class=&quot;govuk-heading-m govuk-!-margin-bottom-6&quot;&gt;School allocation&lt;/h3&gt;
    &lt;thead class=&quot;govuk-table__head&quot;&gt;
      &lt;tr class=&quot;govuk-table__row&quot;&gt;
        &lt;th scope=&quot;col&quot; class=&quot;govuk-table__header&quot;&gt;Funding lines&lt;/th&gt;
        &lt;th scope=&quot;col&quot; class=&quot;govuk-table__header govuk-table__header--numeric&quot;&gt;Total&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody class=&quot;govuk-table__body&quot;&gt;
      &lt;tr class=&quot;govuk-table__row&quot;&gt;
        &lt;th scope=&quot;row&quot; class=&quot;govuk-table__header&quot;&gt;&lt;a href=&quot;&quot; class=&quot;govuk-link&quot;&gt;School budget share (excl. rates)&lt;/a&gt;&lt;/p&gt;
        &lt;a href=&quot;#&quot; class=&quot;govuk-link govuk-!-padding-left-9&quot;&gt;of which, notional SEN funding&lt;/a&gt; 
    &lt;/th&gt;
        &lt;td class=&quot;govuk-table__cell govuk-table__cell--numeric&quot;&gt;£7,435,250.87 &lt;br&gt; &lt;br&gt; £1,411,872.30&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr class=&quot;govuk-table__row&quot;&gt;
          &lt;th scope=&quot;row&quot; class=&quot;govuk-table__header&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;govuk-link&quot;&gt;Minimum funding guarantee&lt;/a&gt;&lt;/th&gt;
          &lt;td class=&quot;govuk-table__cell govuk-table__cell--numeric&quot;&gt;£229,393.87&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr class=&quot;govuk-table__row&quot;&gt;
          &lt;th scope=&quot;row&quot; class=&quot;govuk-table__header&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;govuk-link&quot;&gt;ESG protection&lt;/a&gt;&lt;/th&gt;
          &lt;td class=&quot;govuk-table__cell govuk-table__cell--numeric&quot;&gt;£0.00&lt;/td&gt;
        &lt;/tr&gt;
      &lt;tr class=&quot;govuk-table__row&quot;&gt;
          &lt;th scope=&quot;row&quot; class=&quot;govuk-table__header&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;govuk-link&quot;&gt;Post-opening grant (start-up grant)&lt;/a&gt;&lt;/th&gt;
          &lt;td class=&quot;govuk-table__cell govuk-table__cell--numeric&quot;&gt;£0.00&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr class=&quot;govuk-table__row&quot;&gt;
          &lt;th scope=&quot;row&quot; class=&quot;govuk-table__header&quot;&gt;Total school allocation&lt;/th&gt;
          &lt;td class=&quot;govuk-table__cell govuk-table__cell--numeric&quot;&gt;&lt;strong&gt;£8,183,791.66&lt;/strong&gt;&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
</pre>


  <!-- End Code Block -->

  <h2 class="govuk-heading-m govuk-!-margin-top-9 govuk-!-margin-bottom-9">When to use this component</h2>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-9">When not to use this component</h2>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-9">Research on this component</h2>


{% endblock %}