
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="index.html" class="govuk-back-link govuk-!-margin-bottom-9">Back</a>

<span class="govuk-caption-xl">Component</span>
<h1 class="govuk-heading-xl">Funding line accordion</h1>

  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Basic entitlement age weighted pupil unit (AWPU)
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <dl class="govuk-summary-list govuk-summary-list--no-border">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  <a class="govuk-link" href="">Primary (including reception)</a>
                </dt>
                <dd class="govuk-summary-list__value">
                  £539,970.46
                </dd>
              </div>
            
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  <a class="govuk-link" href="">Key stage 2</a>
                </dt>
                <dd class="govuk-summary-list__value">
                  £1,539,970.46
                </dd>
              </div>
            
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    <a class="govuk-link" href="">Key stage 4</a>
                </dt>
                <dd class="govuk-summary-list__value">
                  £939,970.46
                </dd>
              </div>
            </dl>

            <span class="govuk-caption-m">Total</span>
            <h3 class="govuk-heading-m govuk-!-margin-bottom-4 ">£3,019,911.38</h3>

      </div>
    </div>
  </div>


  <!-- Code block -->
  <h3 class="govuk-heading-m">Code block</h3>
  <pre>
      &lt;div class=&quot;govuk-accordion&quot; data-module=&quot;govuk-accordion&quot; id=&quot;accordion-default&quot;&gt;
    &lt;div class=&quot;govuk-accordion__section &quot;&gt;
      &lt;div class=&quot;govuk-accordion__section-header&quot;&gt;
        &lt;h2 class=&quot;govuk-accordion__section-heading&quot;&gt;
          &lt;span class=&quot;govuk-accordion__section-button&quot; id=&quot;accordion-default-heading-1&quot;&gt;
              Basic entitlement age weighted pupil unit (AWPU)
          &lt;/span&gt;
        &lt;/h2&gt;
      &lt;/div&gt;
      &lt;div id=&quot;accordion-default-content-1&quot; class=&quot;govuk-accordion__section-content&quot; aria-labelledby=&quot;accordion-default-heading-1&quot;&gt;

          &lt;dl class=&quot;govuk-summary-list govuk-summary-list--no-border&quot;&gt;
              &lt;div class=&quot;govuk-summary-list__row&quot;&gt;
                &lt;dt class=&quot;govuk-summary-list__key&quot;&gt;
                  &lt;a class=&quot;govuk-link&quot; href=&quot;&quot;&gt;Primary (including reception)&lt;/a&gt;
                &lt;/dt&gt;
                &lt;dd class=&quot;govuk-summary-list__value&quot;&gt;
                  £539,970.46
                &lt;/dd&gt;
              &lt;/div&gt;
            
              &lt;div class=&quot;govuk-summary-list__row&quot;&gt;
                &lt;dt class=&quot;govuk-summary-list__key&quot;&gt;
                  &lt;a class=&quot;govuk-link&quot; href=&quot;&quot;&gt;Key stage 2&lt;/a&gt;
                &lt;/dt&gt;
                &lt;dd class=&quot;govuk-summary-list__value&quot;&gt;
                  £1,539,970.46
                &lt;/dd&gt;
              &lt;/div&gt;
            
              &lt;div class=&quot;govuk-summary-list__row&quot;&gt;
                &lt;dt class=&quot;govuk-summary-list__key&quot;&gt;
                    &lt;a class=&quot;govuk-link&quot; href=&quot;&quot;&gt;Key stage 4&lt;/a&gt;
                &lt;/dt&gt;
                &lt;dd class=&quot;govuk-summary-list__value&quot;&gt;
                  £939,970.46
                &lt;/dd&gt;
              &lt;/div&gt;
            &lt;/dl&gt;

            &lt;span class=&quot;govuk-caption-m&quot;&gt;Total&lt;/span&gt;
            &lt;h3 class=&quot;govuk-heading-m govuk-!-margin-bottom-4 &quot;&gt;£3,019,911.38&lt;/h3&gt;

      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  </pre>
  <!-- End Code Block -->

  <h2 class="govuk-heading-m govuk-!-margin-top-9 govuk-!-margin-bottom-9">When to use this component</h2>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-9">When not to use this component</h2>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-9">Research on this component</h2>


{% endblock %}