
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="index.html" class="govuk-back-link govuk-!-margin-bottom-9">Back</a>

<span class="govuk-caption-xl">Component</span>
<h1 class="govuk-heading-xl">Mathematical display</h1>

<h4 class="govuk-heading-s">Rate x weighting x pupil number (values)</h4>
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      How is this calculated
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>£2,783.35 <span><strong class="govuk-!-padding-left-4 govuk-!-padding-right-4">X</strong></span> 1.000000 <span><strong class="govuk-!-padding-left-4 govuk-!-padding-right-4">X</strong></span> 194</p>
  </div>
</details>

<h4 class="govuk-heading-s">Rate x weighting x pupil number (text)</h4>
<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        How is this calculated
      </span>
    </summary>
    <div class="govuk-details__text">
      <p>Rate <span><strong class="govuk-!-padding-left-4 govuk-!-padding-right-4">X</strong></span> Weighting <span><strong class="govuk-!-padding-left-4 govuk-!-padding-right-4">X</strong></span>Pupils </p>
    </div>
  </details>

  <h4 class="govuk-heading-s">Rate x weighting (values)</h4>

  <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How is this calculated
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>£2,783.35 <span><strong class="govuk-!-padding-left-4 govuk-!-padding-right-4">X</strong></span> 1.000000</p>
      </div>
    </details>

    <h4 class="govuk-heading-s">Rate x weighting (text)</h4>

    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How is this calculated
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>Rate <span><strong class="govuk-!-padding-left-4 govuk-!-padding-right-4">X</strong></span> Weighting <span><strong class="govuk-!-padding-left-4 govuk-!-padding-right-4">X</strong></span> Pupils</p>
        </div>
      </details>
    
    <h4 class="govuk-heading-s">Total x SEN% (text)</h4>

  <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How is notional SED funding calculated?
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>Total <span><strong class="govuk-!-padding-left-4 govuk-!-padding-right-4">X</strong></span> SEN percentage</p>
      </div>
    </details>

    <h4 class="govuk-heading-s">Total x SEN% (values)</h4>

    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How is notional SED funding calculated?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>£539,970.46<span><strong class="govuk-!-padding-left-4 govuk-!-padding-right-4">X</strong></span> 4.00%</p>
        </div>
      </details>
  


  <!-- Code block -->
  <h3 class="govuk-heading-m">Code block</h3>
  <pre>
    &lt;details class=&quot;govuk-details&quot; data-module=&quot;govuk-details&quot;&gt;
      &lt;summary class=&quot;govuk-details__summary&quot;&gt;
        &lt;span class=&quot;govuk-details__summary-text&quot;&gt;
          How is this calculated
        &lt;/span&gt;
      &lt;/summary&gt;
      &lt;div class=&quot;govuk-details__text&quot;&gt;
        &lt;p&gt;£2,783.35 &lt;span&gt;&lt;strong class=&quot;govuk-!-padding-left-4 govuk-!-padding-right-4&quot;&gt;X&lt;/strong
      &lt;/div&gt;
    &lt;/details&gt;</pre>
  <!-- End Code Block -->

  <h2 class="govuk-heading-m govuk-!-margin-top-9 govuk-!-margin-bottom-9">When to use this component</h2>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-9">When not to use this component</h2>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-9">Research on this component</h2>


{% endblock %}