{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style>
    .table-highlight {
      background-color: #eee;
    }
  </style>

<a href="index.html" class="govuk-back-link govuk-!-margin-bottom-9">Back</a>

<span class="govuk-caption-xl">Component</span>
<h1 class="govuk-heading-xl">Table F</h1>


<table class="govuk-table">
        <h3 class="govuk-heading-m">Academic year 2019 to 2020 post-16 high needs place funding</h3>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Place numbers</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Annual per place unit value</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total post-16 allocation</th>
            </tr>
          </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£6,000.00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          </tr>
        </tbody>
      </table>

        <!-- Code block -->
  <h3 class="govuk-heading-m">Code block</h3>

  <pre>
      &lt;table class=&quot;govuk-table&quot;&gt;
        &lt;h3 class=&quot;govuk-heading-m&quot;&gt;Academic year 2019 to 2020 post-16 high needs place funding&lt;/h3&gt;
        &lt;thead class=&quot;govuk-table__head&quot;&gt;
            &lt;tr class=&quot;govuk-table__row&quot;&gt;
              &lt;th scope=&quot;col&quot; class=&quot;govuk-table__header govuk-table__header--numeric&quot;&gt;Place numbers&lt;/th&gt;
              &lt;th scope=&quot;col&quot; class=&quot;govuk-table__header govuk-table__header--numeric&quot;&gt;Annual per place unit value&lt;/th&gt;
              &lt;th scope=&quot;col&quot; class=&quot;govuk-table__header govuk-table__header--numeric&quot;&gt;Total post-16 allocation&lt;/th&gt;
            &lt;/tr&gt;
          &lt;/thead&gt;
        &lt;tbody class=&quot;govuk-table__body&quot;&gt;
          &lt;tr class=&quot;govuk-table__row&quot;&gt;
              &lt;td class=&quot;govuk-table__cell govuk-table__cell--numeric&quot;&gt;0&lt;/td&gt;
              &lt;td class=&quot;govuk-table__cell govuk-table__cell--numeric&quot;&gt;&pound;6,000.00&lt;/td&gt;
              &lt;td class=&quot;govuk-table__cell govuk-table__cell--numeric&quot;&gt;&pound;0.00&lt;/td&gt;
          &lt;/tr&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
  </pre>
  
  
    <!-- End Code Block -->

      <h2 class="govuk-heading-m govuk-!-margin-top-9 govuk-!-margin-bottom-9">When to use this component</h2>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-9">When not to use this component</h2>
    
      <h2 class="govuk-heading-m govuk-!-margin-bottom-9">Research on this component</h2>
    
    
{% endblock %}