{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style>
    .table-highlight {
      background-color: #eee;
    }
  </style>

<a href="index.html" class="govuk-back-link govuk-!-margin-bottom-9">Back</a>

<span class="govuk-caption-xl">Component</span>
<h1 class="govuk-heading-xl">Table D</h1>


<table class="govuk-table">
        <h3 class="govuk-heading-m">Academic year 2019 to 2020 post-opening grant (start-up grant)</h3>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">1. Start-up grant part A </th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">2. Start-up grant part B – formulaic allocation</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">3. Post-opening grant – per pupil resources</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
          </tr>
          <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">4. Post-opening grant – leadership diseconomies</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            </tr>
          <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">5. Total post-opening grant (start-up grant) allocation/th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">= 1 + 2 + 3 + 4</td>
          </tr>
        </tbody>
      </table>

        <!-- Code block -->
  <h3 class="govuk-heading-m">Code block</h3>

  <pre>
      &lt;table class=&quot;govuk-table&quot;&gt;
      &lt;h3 class=&quot;govuk-heading-m&quot;&gt;Academic year 2019 to 2020 post-opening grant (start-up grant)&lt;/h3&gt;
      &lt;tbody class=&quot;govuk-table__body&quot;&gt;
        &lt;tr class=&quot;govuk-table__row&quot;&gt;
          &lt;th scope=&quot;row&quot; class=&quot;govuk-table__header&quot;&gt;1. Start-up grant part A &lt;/th&gt;
          &lt;td class=&quot;govuk-table__cell govuk-table__cell--numeric&quot;&gt;&pound;0.00&lt;/td&gt;
          &lt;td class=&quot;govuk-table__cell govuk-table__cell--numeric&quot;&gt;&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;govuk-table__row&quot;&gt;
          &lt;th scope=&quot;row&quot; class=&quot;govuk-table__header&quot;&gt;2. Start-up grant part B &ndash; formulaic allocation&lt;/th&gt;
          &lt;td class=&quot;govuk-table__cell govuk-table__cell--numeric&quot;&gt;&pound;0.00&lt;/td&gt;
          &lt;td class=&quot;govuk-table__cell govuk-table__cell--numeric&quot;&gt;&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;govuk-table__row&quot;&gt;
          &lt;th scope=&quot;row&quot; class=&quot;govuk-table__header&quot;&gt;3. Post-opening grant &ndash; per pupil resources&lt;/th&gt;
          &lt;td class=&quot;govuk-table__cell govuk-table__cell--numeric&quot;&gt;&pound;0.00&lt;/td&gt;
          &lt;td class=&quot;govuk-table__cell govuk-table__cell--numeric&quot;&gt;&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;govuk-table__row&quot;&gt;
            &lt;th scope=&quot;row&quot; class=&quot;govuk-table__header&quot;&gt;4. Post-opening grant &ndash; leadership diseconomies&lt;/th&gt;
            &lt;td class=&quot;govuk-table__cell govuk-table__cell--numeric&quot;&gt;&pound;0.00&lt;/td&gt;
            &lt;td class=&quot;govuk-table__cell govuk-table__cell--numeric&quot;&gt;&lt;/td&gt;
          &lt;/tr&gt;
        &lt;tr class=&quot;govuk-table__row&quot;&gt;
            &lt;th scope=&quot;row&quot; class=&quot;govuk-table__header&quot;&gt;5. Total post-opening grant (start-up grant) allocation/th&gt;
            &lt;td class=&quot;govuk-table__cell govuk-table__cell--numeric&quot;&gt;&pound;0.00&lt;/td&gt;
            &lt;td class=&quot;govuk-table__cell govuk-table__cell--numeric&quot;&gt;= 1 + 2 + 3 + 4&lt;/td&gt;
        &lt;/tr&gt;
      &lt;/tbody&gt;
    &lt;/table&gt;
  </pre>
  
  
    <!-- End Code Block -->

      <h2 class="govuk-heading-m govuk-!-margin-top-9 govuk-!-margin-bottom-9">When to use this component</h2>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-9">When not to use this component</h2>
    
      <h2 class="govuk-heading-m govuk-!-margin-bottom-9">Research on this component</h2>
    
    
{% endblock %}