<fieldset class="filter">
    <legend class="visuallyhidden">Filter by organisation</legend>
    
    <div class="js-filter-collapsible-collections">
        <section id="organisation-filter" class="js-filter-collapsible js-open">
            <input type="hidden" name="queryFilterOpenOrganisation" id="queryFilterOpenOrganisation" aria-expanded="true" aria-controls="filter-by-organisation" value="true">
            <a href="#" id="filter-keyboard-organisation" class="filter-keyboard" type="button" aria-expanded="true" aria-controls="filter-by-organisation">
                <header id="organisation" class="js-filter-collapsible-header">
                    <h2 class="filters-headings heading-small">Filter by organisation</h2>
                </header>
            </a>
            
            <div id="filter-by-organisation" class="js-filter-collapsible-content" aria-labelledby="organisation">
                <section class="toggled-adult-funding-content group">
                    <ul>
                        <li class="gds-multiple-choice multiple-choice myesf-filter">
                            <input id="queryFilterOrganisationChild01" rel="Child01" name="queryFilterOrganisation" type="checkbox" value="Child01">
                            <label class="block" for="queryFilterOrganisationChild01">
                                12 Disciples Academy (3)
                            </label>
                        </li>
                        <li class="gds-multiple-choice multiple-choice myesf-filter">
                            <input id="queryFilterOrganisationChild02" rel="Child02" name="queryFilterOrganisation" type="checkbox" value="Child02">
                            <label class="block" for="queryFilterOrganisationChild02">
                                Drake Academy Coventry (3)
                            </label>
                        </li>
                        <li class="gds-multiple-choice multiple-choice myesf-filter">
                            <input id="queryFilterOrganisationChild03" rel="Child03" name="queryFilterOrganisation" type="checkbox" value="Child03">
                            <label class="block" for="queryFilterOrganisationChild03">
                                Frog Field Academy (4)
                            </label>
                        </li>
                        <li class="gds-multiple-choice multiple-choice myesf-filter">
                            <input id="queryFilterOrganisationChild04" rel="Child04" name="queryFilterOrganisation" type="checkbox" value="Child04">
                            <label class="block" for="queryFilterOrganisationChild04">
                                Helping Me and You Academy (3)
                            </label>
                        </li>
                        <li class="gds-multiple-choice multiple-choice myesf-filter">
                            <input id="queryFilterOrganisationChild05" rel="Child05" name="queryFilterOrganisation" type="checkbox" value="Child05">
                            <label class="block" for="queryFilterOrganisationChild05">
                                Lipson Cooperative Academy (3)
                            </label>
                        </li>
                        <li class="gds-multiple-choice multiple-choice myesf-filter">
                            <input id="queryFilterOrganisationChild06" rel="Child06" name="queryFilterOrganisation" type="checkbox" value="Child06">
                            <label class="block" for="queryFilterOrganisationChild06">
                                Mole Catch Academy (3)
                            </label>
                        </li>
                        <!-- <li class="gds-multiple-choice multiple-choice myesf-filter">
                            <input id="queryFilterOrganisationParent" rel="Parent" name="queryFilterOrganisation" type="checkbox" value="Parent">
                            <label class="block" for="queryFilterOrganisationParent">
                                Rupert Shoggins Academy Trust (2)
                            </label>
                        </li> -->
                        <li class="gds-multiple-choice multiple-choice myesf-filter">
                            <input id="queryFilterOrganisationChild07" rel="Child07" name="queryFilterOrganisation" type="checkbox" value="Child07">
                            <label class="block" for="queryFilterOrganisationChild07">
                                Ryckborst Academy of Justice (4)
                            </label>
                        </li>
                        <li class="gds-multiple-choice multiple-choice myesf-filter">
                            <input id="queryFilterOrganisationChild08" rel="Child08" name="queryFilterOrganisation" type="checkbox" value="Child08">
                            <label class="block" for="queryFilterOrganisationChild08">
                                Walsgrave Church of England Academy (3)
                            </label>
                        </li>
                        <li class="gds-multiple-choice multiple-choice myesf-filter">
                            <input id="queryFilterOrganisationChild09" rel="Child09" name="queryFilterOrganisation" type="checkbox" value="Child09">
                            <label class="block" for="queryFilterOrganisationChild09">
                                WMG Academy (4)
                            </label>
                        </li>
                    </ul>
                </section>
            </div>

        </section>
    </div>

</fieldset>